<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <unicorn>
            <configurations>
                <configuration name="Feature.Industries" description="Industries content" dependencies="Foundation.*">
                  <targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization" useDataCache="false" singleInstance="true"/>
                    <predicate>
                      <include name="Industries.Renderings" database="master" path="/sitecore/layout/Renderings/Feature/Industries" />
                      <!--<include name="Industries.forms" database="master" path="/sitecore/Forms" />-->
                      <include name="Industries.Templates" database="master" path="/sitecore/templates/Feature/Industries" />
                      <include name="Industries.Media" database="master" path="/sitecore/media library/Logistico/Industries" />
                      <!--<include name="Form.PlaceholderSettings" database="master" path="/sitecore/layout/placeholder settings/Project/Logistico" />-->
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>
