@using Sitecore.Mvc

<div class="service_details_info">
    <h3>@Html.Sitecore().Field("Industry Title")</h3>
    <p>
        @Html.Sitecore().Field("Industry Description")

    </p>
    @Html.Sitecore().Field("Industry Image")
</div>
