<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <unicorn>
            <configurations>
                <configuration name="Feature.Promo" description="Promo content" dependencies="Foundation.*">
                  <targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization" useDataCache="false" singleInstance="true"/>
                    <predicate>
                      <include name="Promo.Renderings" database="master" path="/sitecore/layout/Renderings/Feature/Promo" />
                      <include name="Promo.Templates" database="master" path="/sitecore/templates/Feature/Promo" />
                      <include name="Promo.Media" database="master" path="/sitecore/media library/Logistico/Promo" />
                      <!--<include name="Identity.PlaceholderSettings" database="master" path="/sitecore/layout/placeholder settings/Project/Logistico" />-->
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>
