<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <unicorn>
            <configurations>
                <configuration name="Feature.Metadata" description="Metadata content" dependencies="Foundation.*">
                  <targetDataStore physicalRootPath="$(sourceFolder)\$(layer)\$(module)\serialization" useDataCache="false" singleInstance="true"/>
                    <predicate>
                      <include name="Metadata.Renderings" database="master" path="/sitecore/layout/Renderings/Feature/MetaData" />
                      <include name="Metadata.Templates" database="master" path="/sitecore/templates/Feature/MetaData" />
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>
